@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-primary;
  }

  .font-h1 {
    @apply text-[44px] font-bold text-font;
  }

  .font-h2 {
    @apply text-[20px] font-bold leading-6 text-font;
  }

  @font-face {
    font-family: "AvenirWorldForDisneyRegular";
    src: url("../public/fonts/avenir-world-for-disney-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    ffont-display: swap;
  }

  @font-face {
    font-family: "AvenirWorldForDisneyDemi";
    src: url("../public/fonts/avenir-world-for-disney-demi.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    ffont-display: swap;
  }
}
